---
layout: project
title: Projects
subtitle: ...
---
<link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicons/favicon-2.png">

<p>
<center>Some of the projects I have built while exploring new stuff.
	Click on them to find out more.
</center>
<br>

{% assign recent_posts = site.projs | where: "category", "new" | sort: "dated" | reverse %}
{% assign older_posts = site.projs | where: "category", "older" | sort: "dated" | reverse %}

{% if recent_posts.size > 0 %}
<h2 style="text-transform: none; margin-bottom: 30px;">Recent Projects</h2>
<div class="posts-list">
  {% for post in recent_posts %}
	<div class="container-fluid alert alert-success">
	        <div class="section-heading">
	            <h3 style="text-transform: none;" >{{ post.title }}</h3>
	            <h6 style="text-transform: none;" >{{ post.description }}</h6>
	        </div>
	        <div class="row">
	            <div class="col-xs-12 col-sm-4 col-md-3">
	                {% if post.share-img %}
	                <figure class="fadeInLeft" data-wow-duration="500ms">
	                    <img src="{{ post.share-img }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
	                    <div class="overlay">
	                        <div class="buttons">
	                            {% if post.github %}
	                            <a class="page-link" href="{{ post.github }}">Github</a>
	                            {% endif %}
	                            <a class="page-link" href="{{ post.url }}">Details</a>
	                        </div>
	                    </div>
	                </figure>
	                {% endif %}
	            </div>
	        </div>
	    </div>
	{% endfor %}
</div>
{% endif %}

{% if older_posts.size > 0 %}
<h2 style="text-transform: none; margin-top: 50px; margin-bottom: 30px;">Older Projects</h2>
<div class="posts-list">
  {% for post in older_posts %}
	<div class="container-fluid alert alert-success">
	        <div class="section-heading">
	            <h3 style="text-transform: none;" >{{ post.title }}</h3>
	            <h6 style="text-transform: none;" >{{ post.description }}</h6>
	        </div>
	        <div class="row">
	            <div class="col-xs-12 col-sm-4 col-md-3">
	                {% if post.share-img %}
	                <figure class="fadeInLeft" data-wow-duration="500ms">
	                    <img src="{{ post.share-img }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
	                    <div class="overlay">
	                        <div class="buttons">
	                            {% if post.github %}
	                            <a class="page-link" href="{{ post.github }}">Github</a>
	                            {% endif %}
	                            <a class="page-link" href="{{ post.url }}">Details</a>
	                        </div>
	                    </div>
	                </figure>
	                {% endif %}
	            </div>
	        </div>
	    </div>
	{% endfor %}
</div>
{% endif %}
</p>
