---
layout: page
---

{{ content }}

{% assign sorted_posts = site.projs | sort: "dated" | reverse %}
{% assign latest_projects = sorted_posts | reject: "category", "older" %}
{% assign older_projects = sorted_posts | where: "category", "older" %}

<h2>Latest Projects</h2>
<div class="posts-list">
  {% for post in latest_projects %}
  <article class="post-preview">
    <a href="{{ post.url | absolute_url }}">
      <h3 class="post-title-2">{{ post.title }}</h3>
      {% if post.description %}
        <h5 class="post-subtitle-2">{{ post.description }}</h5>
      {% endif %}
    </a>
    <p class="post-meta">
      {{ post.dated }}
    </p>
  </article>
  {% endfor %}
</div>

<h2>Older Projects from Undergrad</h2>
<div class="posts-list">
  {% for post in older_projects %}
  <article class="post-preview">
    <a href="{{ post.url | absolute_url }}">
      <h3 class="post-title-2">{{ post.title }}</h3>
      {% if post.description %}
        <h5 class="post-subtitle-2">{{ post.description }}</h5>
      {% endif %}
    </a>
    <p class="post-meta">
      {{ post.dated }}
    </p>
  </article>
  {% endfor %}
</div>
